/* CSS for Admin Area */
label img {
	vertical-align: middle;
}

.dropdown, .dropview {
	position: relative;
	display: table;
	width: auto;
}
.dropdown .select, .dropview .select {
	background: #eee;
	box-shadow: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	height: 30px;
	min-width: 159px;
	line-height: 30px;
	padding-right:40px;
	white-space: nowrap;
	overflow: hidden;
}
	.dropdown input.select.flex, .dropview div.select.flex {
		
	}
	.dropdown input.select.fixed, .dropview div.select.fixed {
		width: 159px;
	}
	.dropdown input.select.full, .dropview div.select.full {
	
	}
	.select:hover, .select:focus {
		border: 1px solid #999;
	}
	.dropview .select span {
		width: 100px;
		top: 7px;
	}
	.dropdown div.dashicons.dashicons-arrow-down,
	.dropview div.dashicons.dashicons-arrow-down {
		position: absolute;
		top: 1px;
		right: 1px;
		border-radius: 2px;
		border-left: 1px solid #ccc;
		height: 30px;
		width:30px;
		line-height:30px;
		background: #eee;
	}
	.dropdown ul, .dropview ul {
		top: 0;
		display: block;
		height: 0px;
		overflow: hidden;
		z-index: 10;
		background: #fff;
		margin: 0;
		padding: 0;
	}
		/* flex width for select, not for list */
		.dropdown ul.flex, .dropview ul.flex {
			position: absolute;
			width: 100%;
		}
		/* fixed width */
		.dropdown ul.fixed, .dropview ul.fixed {
			position: absolute;
			width: 100%;
		}
		/* assumes width of widest item */
		.dropdown ul.full, .dropview ul.full {
			position: relative;
			width: auto;
		}		
	.dropdown.open ul, .dropview.open ul {
		height: auto;
		border: 1px solid #ccc;
	}
	.dropdown.open ul.longlist, .dropview.open ul.longlist {
		height: 200px;
		border: 1px solid #ccc;
		overflow: auto;
			overflow-y: scroll; /* has to be scroll, not auto for iOS */
  			-webkit-overflow-scrolling: touch;
	}
		.dropdown.open li, .dropview.open li {
			display: block;
			border-bottom: 1px solid #eee;
			white-space: nowrap;
		}

#zappbar_colors_bar_border_style span,
#zappbar_panels_panel_border_style span {
	position: relative;
	display: block;
	width: 100px;
	margin: 5px 10px;
	float: left;
}
	#zappbar_colors_bar_border_style span._solid,
	#zappbar_panels_panel_border_style span._solid {
		border-bottom: 4px solid black;
	}
	#zappbar_colors_bar_border_style span._double,
	#zappbar_panels_panel_border_style span._double {
		border-bottom: 4px double black;
	}
	#zappbar_colors_bar_border_style span._dashed,
	#zappbar_panels_panel_border_style span._dashed {
		border-bottom: 4px dashed black;
	}
	#zappbar_colors_bar_border_style span._dotted,
	#zappbar_panels_panel_border_style span._dotted {
		border-bottom: 4px dotted black;
	}
	#zappbar_colors_bar_border_style span._groove,
	#zappbar_panels_panel_border_style span._groove {
		border: 4px groove;
		height: 4px;
		width: 100px !important;
	}
	#zappbar_colors_bar_border_style span._ridge,
	#zappbar_panels_panel_border_style span._ridge {
		border: 4px ridge;
		height: 4px;
		width: 100px !important;
	}
	#zappbar_colors_bar_border_style span._inset,
	#zappbar_panels_panel_border_style span._inset {
		border: 4px inset;
		height: 4px;
		width: 100px !important;
	}
	#zappbar_colors_bar_border_style span._outset,
	#zappbar_panels_panel_border_style span._outset {
		border: 4px outset;
		height: 4px;
		width: 100px !important;
	}

#zappbar_colors_bar_border_width span,
#zappbar_panels_panel_border_width span {
	position: relative;
	display: block;
	width: 100px;
	margin: 5px 10px;
	float: left;
}
	#zappbar_colors_bar_border_width span._1px,
	#zappbar_panels_panel_border_width span._1px {
		border-bottom: 1px solid black;
	}
	#zappbar_colors_bar_border_width span._2px,
	#zappbar_panels_panel_border_width span._2px {
		border-bottom: 2px solid black;
	}
	#zappbar_colors_bar_border_width span._3px,
	#zappbar_panels_panel_border_width span._3px {
		border-bottom: 3px solid black;
	}
	#zappbar_colors_bar_border_width span._4px,
	#zappbar_panels_panel_border_width span._4px {
		border-bottom: 4px solid black;
	}
	#zappbar_colors_bar_border_width span._5px,
	#zappbar_panels_panel_border_width span._5px {
		border-bottom: 5px solid black;
	}
	#zappbar_colors_bar_border_width span._6px,
	#zappbar_panels_panel_border_width span._6px {
		border-bottom: 6px solid black;
	}
	#zappbar_colors_bar_border_width span._7px,
	#zappbar_panels_panel_border_width span._7px {
		border-bottom: 7px solid black;
	}
	#zappbar_colors_bar_border_width span._8px,
	#zappbar_panels_panel_border_width span._8px {
		border-bottom: 8px solid black;
	}
	#zappbar_colors_bar_border_width span._9px,
	#zappbar_panels_panel_border_width span._9px {
		border-bottom: 9px solid black;
	}
	#zappbar_colors_bar_border_width span._10px,
	#zappbar_panels_panel_border_width span._10px {
		border-bottom: 10px solid black;
	}



.zappbar {
	position: relative;
 	width: 320px;
 	height: 45px;
 	background: #eee;
 	border: 1px solid #ccc;
 	display: block;
}
	.zappbar div.zb { position: relative; }
	.zappbar div.button {
		position: relative;
		height: 45px;
		width: 50px;
		margin: 0 auto;
		padding: 0;
		background: none;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
	}
		.helper {
			position: absolute;
			top:-25px;
			height: 12px;
			font-size: 10px;
			text-align:center;
			width: 50px;
			background: #eee;
			border:1px solid #ccc;
		}
	.zappbar div.icon-picker {
		width: 100%;
		height: 100%;
		font-size: 24px;
		margin: 0;
		padding: 0;
		line-height: 28px;
		text-align: center;
	}

	.zappbar input.zb-label {
	  position: relative;
	  top: -16px;
	  width:50px !important;
	  padding:0 !important;
	  margin: 0;
	  border:none;
	  text-align: center;
	  font-size: 10px !important;
	  background: none;
	  display: block !important;
	  color: inherit;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  -ms-box-shadow: none;
	  box-shadow: none;	
	}


	.zb-spread div.zb {
		float: left;
		width: 20%;
	}
		.zb-spread div.zb div.button {
			margin: 0 auto;
			display: block;
		}
		.zb-spread div.zb.button_a div.button {
			float: left;
		}
		.zb-spread div.zb.button_a div.helper {
			left: 0;
		}
		.zb-spread div.zb.button_e div.button {
			float: right;
		}
		.zb-spread div.zb.button_e div.helper {
			right: 0;
		}
		
	.zb-clusterleft div.zb {
		width: 50px;
		float: left;
	}
	.zb-clusterleft1r div.zb {
		width: 50px;
		float: left;
	}
		.zb-clusterleft1r div.zb.button_e {
			float: right;
		}
	.zb-clusterright div.zb {
		width: 50px;
		float: right;
	}
	.zb-clusterright1l div.zb {
		width: 50px;
		float: right;
	}
		.zb-clusterright1l div.zb.button_a {
			float: left;
		}

	.zb-pushout div.zb {
		width: 50px;
	}
		.zb-pushout div.zb.button_a {
			float: left;
		}
		.zb-pushout div.zb.button_b {
			float: left;
		}
		.zb-pushout div.zb.button_c {
				position: absolute;
				left: 50%;
				margin-left: -25px;
			}
		.zb-pushout div.zb.button_d {
			float: right;
		}
		.zb-pushout div.zb.button_e {
			float: right;
		}
@media screen and (min-width:640px) and (max-width: 768px) {
	input#zappbar_layout_logo.regular-text {
		float: left;
		margin-right: 10px;
	}
}	
@media screen and (max-width: 320px) {
	.zappbar {
		width: 280px;
	}

}