/*	RETROFIT THEME TO RESPONSIVE
	
	This file is used when you select the option to
	"Make Theme Responsive even when ZappBars are not displayed"
	and, in combination with any custom settings in a style block,
	this will attempt to retrofit a non-responsive WP theme so that
	it will react responsively based on browser window width.
	
	This stylesheet, the style block, and the jQuery script expect the
	theme author to have used fairly standard IDs and classnames for
	the various elements of the theme, and if not tries to use any
	custom element names and classes outlined in ZappBar Site Layout.
	
	So no guarantees this will work with any given WP theme.
*/
	
body {
	padding: 0 0 50px 0;
}
#branding {
	z-index: 1 !important;
}
	#page-wide #header, #page-wide #menubar-wrapper,
	#page-wide #subcontent-wrapper, #page-wide #footer,
	#page-wide #comic-header, #page-wide #comic-foot {
		max-width: 100%;
	}
		#page-wide #header h1 {
			max-width: 100%;
			-webkit-background-size: contain;
			-moz-background-size: contain;
			-ms-background-size: contain;
			background-size: contain;
		}
#page, #page-wide, #wrapper {
	width: 100%;
	max-width: 980px;
}
	.layout-3c #comic, .layout-3c2r #comic {
		width: auto;
		max-width: 100%;
	}
	img {
		max-width: 100%;
	}
	/* Un-clutter Comic Easel Archives */
	.customsidebar { max-width: 100%; }
	div.comic.uentry h2.post-title,
	div.comic.uentry div.post-calendar-date,
	div.comic.uentry span.post-author,
	div.comic.uentry span.posted-on,
	div.comic.uentry div.comic-post-info,
	div.comic.uentry div.entry p {
		display: none;
	}
	article.comic.uentry h2.post-title,
	article.comic.uentry div.post-calendar-date,
	article.comic.uentry span.post-author,
	article.comic.uentry span.posted-on,
	article.comic.uentry span.posted-at,
	article.comic.uentry span.post-time,
	article.comic.uentry div.comic-post-info,
	article.comic.uentry div.entry p {
		display: none;
	}
	div.comic.uentry div.entry,
	article.comic.uentry div.entry {
		padding: 0 10px;
	}
	div.comic.uentry div.entry p.comic-thumbnail-in-archive,
	article.comic.uentry div.entry p.comic-thumbnail-in-archive {
		display: block;
	}
	div.comic.uentry div.post-info,
	div.comic.uentry div.post-extras div.comment-link,
	div.comic.uentry a.post-edit-link,
	article.comic.uentry div.post-info,
	article.comic.uentry div.post-extras div.comment-link,
	article.comic.uentry a.post-edit-link {
		display: block;
		text-align: center;
	}
			
    	span.zb-label span.contents {
			height:15px;
			min-width:15px;
			background: red;
			color:white;
			position:absolute;
			top:-28px;
			border-radius:100%;
			line-height:15px;
			font-size:8px;
			text-shadow:none;
			right: -3px;
			text-align:center;
			border:1px solid white;
			}
 		
    		#footer {
    			display: block;
    		}
    		
    		.zappbar { 
    			display: none; 
    		}
    		
    		div.sbtab { display: none; }
	
/* 4-up in comic archive */
@media screen and (min-width: 1441px) {
	div.comic.uentry, article.comic.uentry {
		float: left;
		width: 24%;
	}
}
/* 4-up in comic archive */
@media screen and (min-width: 1025px) and (max-width:1440px) {
	div.comic.uentry, article.comic.uentry {
		float: left;
		width: 24%;
	}
		#footer {
    			display: block;
    		}
    		
    		.zappbar { 
    			display: none; 
    		}
}
/* 3-up in comic archive */
@media screen and (min-width: 737px) and (max-width:1024px) {
	div.comicthumbwrap {
		width: 33%;
	}
	div.comic.uentry, article.comic.uentry {
		float: left;
		width: 33%;
	}
  		#footer {
    			display: block;
    		}
    		
    		.zappbar { 
    			display: none; 
    		}
    		
    		#sidebar-left, #sidebar-right,
    		#content, #content-column {
				float: none;
    			width: auto;
    			max-width: 100%;
    			min-height: 0px;
    			clear: both;
    		}
    		.site-content { width: auto; }
}
/* 2-up in comic archive */
@media screen and (max-width: 736px) {
	div.comic.uentry, article.comic.uentry {
		float: left;
		width: 45% !important;
	}
    		#footer {
    			display: block;
    		}
    		.zappbar { 
    			display: none; 
    		}
    		#sidebar-left, #sidebar-right,
    		#content, #content-column {
				float: none;
    			width: auto;
    			max-width: 100%;
    			min-height: 0px;
    			clear: both;
    		}

}
/* 1-up in comic archive */
@media screen and (max-width: 480px) {
	div.comicthumbwrap {
		float: none;
		width: auto;
	}
	div.comic.uentry, article.comic.uentry {
		float: none !important;
		width: auto !important;
	}
}

