a.zb-share {
	min-width: 50px;
	border-radius:5px;
	margin: 0 5px 5px 0;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
	a.zb-share span {
	 line-height: 20px;
	 color: #fff;
	 text-shadow: 1px 1px 1px #222;
	 font-size: 10px;
	 display: block;
	 padding: 0 5px;
	}
	a.zb-share.twitter {
		background-color:#9AE4E8;
	}
	/*Facebook*/
	a.zb-share.facebook {
		background-color:#3B5998;
	}
	/*LinkedIn*/
	a.zb-share.linkedin {
		background-color:#0e76a8;
	}
	/*Reddit*/
	a.zb-share.reddit {
		background-color:#CEE3F8;
	}
	/*Pinterest*/
	a.zb-share.pinterest {
		background-color:#C92228;
	}
	/*RSS*/
	a.zb-share.rss-feed {
		background-color:#F64C0B;
	}
	/* Email */
	a.zb-share.zb-mail {
		background-color:#333333;
	}

	.zb-sharethis.small a.zb-share {
		background-position: center center;
		background-repeat: no-repeat;
		height: 16px;
		width: 16px;
		min-width: 16px;
		border-radius: 0;
		margin-left: 10px;
	}
	.zb-sharethis.small a.zb-share span { display: none;}
	.zb-sharethis.small a.zb-share.twitter {
		background-image: url('../includes/images/social_icons/icons_small/twitter.png');
	}
	/*Facebook*/
	.zb-sharethis.small a.zb-share.facebook {
		background-image: url('../includes/images/social_icons/icons_small/facebook.png');
	}
	/*LinkedIn*/
	.zb-sharethis.small a.zb-share.linkedin {
		background-image: url('../includes/images/social_icons/icons_small/linkedin.png');
	}
	/*Reddit*/
	.zb-sharethis.small a.zb-share.reddit {
		background-image: url('../includes/images/social_icons/icons_small/reddit.png');
	}
	/*Pinterest*/
	.zb-sharethis.small a.zb-share.pinterest {
		background-image: url('../includes/images/social_icons/icons_small/pinterest.png');
	}
	/*RSS*/
	.zb-sharethis.small a.zb-share.rss-feed {
		background-image: url('../includes/images/social_icons/icons_small/rss.png');
	}
	/*Email*/
	.zb-sharethis.small a.zb-share.zb-mail {
		background-image: url('../includes/images/social_icons/icons_small/email.png');
	}

	.zb-sharethis.medium a.zb-share {
		background-position: center center;
		background-repeat: no-repeat;
		height: 24px;
		width: 24px;
		min-width: 24px;
		border-radius: 0;
	}
	.zb-sharethis.medium a.zb-share span { display: none;}
	.zb-sharethis.medium a.zb-share.twitter {
		background-image: url('../includes/images/social_icons/icons_medium/twitter.png');
	}
	/*Facebook*/
	.zb-sharethis.medium a.zb-share.facebook {
		background-image: url('../includes/images/social_icons/icons_medium/facebook.png');
	}
	/*LinkedIn*/
	.zb-sharethis.medium a.zb-share.linkedin {
		background-image: url('../includes/images/social_icons/icons_medium/linkedin.png');
	}
	/*Reddit*/
	.zb-sharethis.medium a.zb-share.reddit {
		background-image: url('../includes/images/social_icons/icons_medium/reddit.png');
	}
	/*Pinterest*/
	.zb-sharethis.medium a.zb-share.pinterest {
		background-image: url('../includes/images/social_icons/icons_medium/pinterest.png');
	}
	/*RSS*/
	.zb-sharethis.medium a.zb-share.rss-feed {
		background-image: url('../includes/images/social_icons/icons_medium/rss.png');
	}	
	/*Email*/
	.zb-sharethis.medium a.zb-share.zb-mail {
		background-image: url('../includes/images/social_icons/icons_medium/email.png');
	}
	.zb-sharethis.large a.zb-share {
		background-position: center center;
		background-repeat: no-repeat;
		height: 32px;
		width: 32px;
		min-width: 32px;
		border-radius: 0;
	}
	.zb-sharethis.large a.zb-share span { display: none;}
	.zb-sharethis.large a.zb-share.twitter {
		background-image: url('../includes/images/social_icons/icons_large/twitter.png');
	}
	/*Facebook*/
	.zb-sharethis.large a.zb-share.facebook {
		background-image: url('../includes/images/social_icons/icons_large/facebook.png');
	}
	/*LinkedIn*/
	.zb-sharethis.large a.zb-share.linkedin {
		background-image: url('../includes/images/social_icons/icons_large/linkedin.png');
	}
	/*Reddit*/
	.zb-sharethis.large a.zb-share.reddit {
		background-image: url('../includes/images/social_icons/icons_large/reddit.png');
	}
	/*Pinterest*/
	.zb-sharethis.large a.zb-share.pinterest {
		background-image: url('../includes/images/social_icons/icons_large/pinterest.png');
	}
	/*RSS*/
	.zb-sharethis.large a.zb-share.rss-feed {
		background-image: url('../includes/images/social_icons/icons_large/rss.png');
	}	
	/*Email*/
	.zb-sharethis.large a.zb-share.zb-mail {
		background-image: url('../includes/images/social_icons/icons_large/email.png');
	}	
	.zb-sharethis.label a.zb-share {
		background-position: 3px center;
		background-repeat: no-repeat;
	}
	.zb-sharethis.label a.zb-share span { 
		padding-left: 25px;
		line-height: 22px;
	}
	.zb-sharethis.label a.zb-share.twitter {
		background-image: url('../includes/images/social_icons/icons_small/twitter.png');
	}
	/*Facebook*/
	.zb-sharethis.label a.zb-share.facebook {
		background-image: url('../includes/images/social_icons/icons_small/facebook.png');
	}
	/*LinkedIn*/
	.zb-sharethis.label a.zb-share.linkedin {
		background-image: url('../includes/images/social_icons/icons_small/linkedin.png');
	}
	/*Reddit*/
	.zb-sharethis.label a.zb-share.reddit {
		background-image: url('../includes/images/social_icons/icons_small/reddit.png');
	}
	/*Pinterest*/
	.zb-sharethis.label a.zb-share.pinterest {
		background-image: url('../includes/images/social_icons/icons_small/pinterest.png');
	}
	/*RSS*/
	.zb-sharethis.label a.zb-share.rss-feed {
		background-image: url('../includes/images/social_icons/icons_small/rss.png');
	}
	/*Email*/
	.zb-sharethis.label a.zb-share.zb-mail {
		background-image: url('../includes/images/social_icons/icons_small/email.png');
	}